html{
    height: 100%;
}
body{
    background:linear-gradient(141deg, rgba(86, 184, 167, 0.19) 0%, rgba(158, 157, 219, 0.15) 51%, rgba(232, 70, 104, 0.04) 75%) no-repeat;
    background-size: cover;
}
.cursorHand{
    cursor: pointer;

}
#avatar{
    background: url("../pic/avatar.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
#dataUserPanel{
    display: none;
}
#avatar:hover{
    background: url("../pic/change_avatar.png");
    background-size: cover;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.7;
}
.username{
    font-size: 16px;
    font-family: "Comic Sans MS",sans-serif;
}
.mesUser{
    font-style: italic;
    font-family:Calibri,sans-serif;
    font-size: 12px;
}
.mesUserTyping{
    font-family:Calibri,sans-serif;
    font-size: 12px;
    opacity: 0.5;
}
#customUserPanel{
    padding-top: 38px!important;
    border-left: 3px solid grey!important;
    overflow-y: scroll;
    max-height: 800px;
}
#customMarginText{
    margin-left: 110px;
}
#customMessageField{
    overflow-y: scroll;
    max-height: 800px;
}
.customBar{
    border-bottom: 3px solid grey!important;
}
.customBorder:hover{
    cursor: pointer;
}
.customBorder img{
    width: 50px;
    height: 50px;
    margin-top: 12px;
}
.customFind{
    padding: 0!important;
    margin-top: 2px;
    margin-right: 5px;
    width: 12%!important;
}

.customSprite1{
    background:url("../pic/sprite_faces.png") 0 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite2{
    position: relative;
    background:url("../pic/sprite_faces.png") -64px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite3{
    background:url("../pic/sprite_faces.png") -128px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite4{
    background:url("../pic/sprite_faces.png") -192px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite5{
    position: relative;
    background:url("../pic/sprite_faces.png") -256px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite6{
    background:url("../pic/sprite_faces.png") -320px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite7{
    background:url("../pic/sprite_faces.png") -384px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite8{
    position: relative;
    background:url("../pic/sprite_faces.png") -448px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite9{
    background:url("../pic/sprite_faces.png") -512px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customSprite10{
    background:url("../pic/sprite_faces.png") -576px 0;
    width: 64px;
    height: 64px;
    margin-top: 8px;
}
.customMargin{
    border: none!important;
    background-color: white!important;
}
.customMarginUserMes{
    margin-top: 35px;
}

.customSearch {
    padding: 0;
    margin: 0;
    position: relative;
}
.customSearch #customInput {
    border: none;
}
.customSearch #customInput {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.customSearch #customInput:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}
.customSearch #customSubmit {
    position: absolute;
    top: -1px;
    right: 12px;
    width: 15px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
    outline: none;
    border: 0;
}
#customSpanOwner{
    color: rgba(255, 79, 76, 0.78);
    font-family:Lucida Console,sans-serif ;
    font-weight: bold;
    text-shadow: 0 0 1em rgba(247, 139, 96, 0.39);
    margin-left: 15px;
}
#customSpan1{
    color: rgba(135, 130, 255, 0.78);
    font-family:Lucida Console,sans-serif ;
    font-weight: bold;
    text-shadow: 0 0 1em rgba(172, 206, 247, 0.39);
    margin-left: 15px;
}
#customSpan2{
    font-size:12px;
    opacity:0.7;
}
#customSpan3{
    font-size:14px;
    margin-left: 15px;
}

