.w3-btn{
    transition: 0.2s;
}
.cursorHand{
    cursor: pointer;
}
#avatar{
    background: url("../pic/avatar.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
#dataUserPanel{
    display: none;
}
#avatar:hover{
    background: url("../pic/change_avatar.png");
    background-size: cover;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.7;
}
.username{
    font-size: 16px;
    font-family: "Comic Sans MS",sans-serif;
}
.mesUser{
    font-style: italic;
    font-family:Calibri,sans-serif;
    font-size: 12px;
}
.mesUserTyping{
    font-family:Calibri,sans-serif;
    font-size: 12px;
    opacity: 0.5;
}
#customUserPanel{
    padding-top: 25px!important;
    border-left: 2px solid black!important;
    overflow-y: scroll;
    height: 88%;
}
#customUserPanel > p{
    margin-bottom: 0!important;
}
#customMarginText{
    margin-left: 110px;
}
#customMessageField{
    overflow-y: scroll;
    height: 64%;
    z-index: 1;
}
.customBorder{
    cursor: pointer;
}
.customBorder i{
    margin-right:25px;
}
.customSprite1{
    background:url("../pic/sprite_faces.png") 0 0;
    width: 64px;
    height: 64px;
}
.customSprite2{
    position: relative;
    background:url("../pic/sprite_faces.png") -64px 0;
    width: 64px;
    height: 64px;
}
.customSprite3{
    background:url("../pic/sprite_faces.png") -128px 0;
    width: 64px;
    height: 64px;
}
.customSprite4{
    background:url("../pic/sprite_faces.png") -192px 0;
    width: 64px;
    height: 64px;
}
.customSprite5{
    position: relative;
    background:url("../pic/sprite_faces.png") -256px 0;
    width: 64px;
    height: 64px;
}
.customSprite6{
    background:url("../pic/sprite_faces.png") -320px 0;
    width: 64px;
    height: 64px;
}
.customSprite7{
    background:url("../pic/sprite_faces.png") -384px 0;
    width: 64px;
    height: 64px;
}
.customSprite8{
    position: relative;
    background:url("../pic/sprite_faces.png") -448px 0;
    width: 64px;
    height: 64px;
}
.customSprite9{
    background:url("../pic/sprite_faces.png") -512px 0;
    width: 64px;
    height: 64px;
}
.customSprite10{
    background:url("../pic/sprite_faces.png") -576px 0;
    width: 64px;
    height: 64px;
}
.customMargin{
    border: none!important;
    background-color: white!important;
}
.customMarginUserMes{
    margin-top: 20px;
}


/*=====Search panel=========================================================================================*/
.customFind{
    padding: 0!important;
    margin-top: 3px;
    margin-right: 5px;
    width: 28.5%!important;
}
.customSearch {
    padding: 0;
    margin: 0;
    position: relative;
}
.customSearch #customInput {
    border: none;
}
.customSearch #customInput {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.customSearch #customInput:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}
.customSearch #customSubmit {
    position: absolute;
    top: -1px;
    right: 12px;
    width: 15px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
    outline: none;
    border: 0;
}
/*================================================================================================================*/

.customSpanOwner{
    color: rgba(255, 145, 0, 0.78);
    font-family:Lucida Console,sans-serif ;
    font-weight: bold;
    margin-left: 15px;
}
.customSpan1{
    color: rgba(173, 0, 255, 0.78);
    font-family:Lucida Console,sans-serif ;
    font-weight: bold;
    margin-left: 15px;
}
.customSpan2{
    font-size:12px;
    opacity:0.7;
}
.customSpan3{
    font-size:14px;
    padding-left: 63px!important;
    overflow-wrap: break-word;
}
.customMarginSpan{
    margin-top: 6px;
}
.customBlock{
    height:46px;
}
.customBorderRooms{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}