.w3-btn{
    transition: 0.2s;
}
button {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: white;
    width: 250px;
    height: 60px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5%;
    opacity: 0.9;
    border: 2px black solid;
    z-index: 1000;
}
.customButton{
    width: 150px;
    height: 50px;
    font-size: 18px;
    border: 1px black solid!important;
}
button span{
    font: normal 24px monospace;
}
button:hover{
    transition: 0.4s;
    padding-right: 25px;
    background-color: white;
    color:black;
}
.invis{
    margin-top: 16%;
}
.invisForm{
    display: none;
    z-index: 2;
}
#formReg span{
    font-size: 24px;
    cursor: pointer;
}
i{
    padding: 20px;
    cursor: pointer;
}
i:hover{
    color:darkviolet;
}

